<a class="a-download" href="#" download aria-label="download document {{#if name}}{{name}} -{{/if}} {{lang}} ">
	<span class="a-download__icon" lang="{{lang}}">
		{{> common/atoms/svg-icon iconWidth="26" iconHeight="26"}}
		{{lang}}
	</span>
	{{#if name}}<span class="a-download__name">{{name}}</span>{{/if}}
</a>
