<div class="c-doormat-card c-doormat-card--image">
    <a class="c-doormat-card__link" href="#" aria-label="{{title}}"></a>
    <figure class="c-doormat-card__image-wrapper o-ratio {{#if isSmall}}o-ratio--21:9{{else}}o-ratio--3:2{{/if}}">
        <img class="c-doormat-card__image o-ratio__content" src="{{imageUrl}}" alt="{{alt}}">
    </figure>
    <div class="c-doormat-card__title-wrapper">
        <div class="c-doormat-card__title">{{title}}</div>
    </div>
</div>
